.logo {
    position: relative;
    padding: 20px;
}

.flame {
    position: absolute;
    opacity: .2;
    right: 45%;
    top: 30px;
}

@media(max-width: 800px){
    .logo img{
        height: 200px;
    }
}