
.account-button {
    border: none;
    background-color: transparent;
    color: #f77c7f;
    text-align: center;
}

.account-button:focus {
    outline: none;
}

.account-button .icon {
    font-size: 25px;
}

.account-button p {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
}

@media(max-width: 500px) {
    .account-button .icon {
        font-size: 30px;
    }

    .account-button p {
        font-size: 12px;
    }
}