.picture-carousel {
    width: 100%;
    border-top: 5px solid lightgray;
    border-bottom: 5px solid lightgray;
    margin: 20px 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
}

.picture-container img {
    height: 200px;
    border: 10px solid grey;
    margin: 0 5px;
}

@media (max-width: 800px) {
    .picture-carousel {
        justify-content: flex-start;
    }
}